@use "../themes/index.scss" as *;
@use "../_globals.scss" as *;

window.OSDWindow {
  .OSD {
    margin: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8px 1.5rem;
    border-radius: $radius_pill;
    background-color: $overlay;
    color: $text;

    label {
      font-size: 1.5rem;
      margin: 2px;
    }

    levelbar {
      block.filled {
        background-color: $accent;
      }
    }
  }
}
