.control_center {
  background-color: $base;
  border: 1px solid $overlay1;
  border-radius: 1rem;
  padding: 0.3rem;
  box-shadow: 0 2px 8px 1px $mantle;
  margin: 0.2rem 15.8rem 0.2rem 0;
}

.systems-dropdown-toggle {
  & > box {
    transition: all 0.1s ease 0.1s;
    border-radius: 15px;
    padding: 0 5px;
  }
  &:hover {
    & > box {
      background-color: $surface0;
    }
  }

  &.visible {
    & > box {
      background-color: $surface0;
    }
  }
}
