@use "variables" as *;
@use "mixins";
@use "sass:color";

window.PasswordPrompt {
  background: $bg-color;
  border: 1px solid $border-color;
  border-radius: 12px;
  padding: 12px;

  .passwordPrompt {
    background: $bg-color;
    padding: 6px;

    entry {
      border: 1px solid $border-color;
      border-radius: 6px;
      background-color: $bg-surface;
      color: $text-color;
    }

    button.connect {
      background: color.adjust($accent-primary, $lightness: -10%);
    }

    button.cancel {
      background: $bg-secondary;
    }
  }
}
