@use "sass:color";
@use "../_globals.scss" as *;

window.Bar {
  background-color: $base;
  // border-radius: $radius_pill;
  // border: 1px solid $accent;
  padding: 0;
  margin: 0;
  color: $text;
  font-size: 1em;
  font-weight: 600;

  label {
    margin: 0 8px;
  }

  box > box > * {
    border-radius: $radius_pill;
    &:hover {
      transition: $transition;
      background-color: $overlay;
    }
  }

  .Workspaces {
    border-radius: $radius_pill;
    padding: 8px;

    button {
      background-color: transparent;

      &:hover label {
        background-color: color.adjust($accent, $alpha: -0.1);
        border-color: color.adjust($accent, $alpha: -0.8);
      }

      &:active label {
        background-color: color.adjust($text, $alpha: -0.8);
      }
    }

    label {
      font-size: 0px;
      transition: $transition;
      padding: 2px;
      margin: 2px;
      border-radius: 100%;
      border: 1px solid transparent;
      background-color: $highlight-high;
    }

    .focused label {
      border-radius: $radius_pill;
      min-width: 18px;
      background-color: $accent;
      color: $accent;
      border-color: $accent;
    }
  }

  .Time {
    padding: 0 6px;
    font-size: 0.9em;

    &:hover {
      background-color: $overlay;
      border-radius: $radius_pill;
    }
  }

  .Wifi {
    font-size: 0.9em;

    label {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .Media {
    padding: 0;
    font-size: 0.9em;

    label {
      margin-left: 0;
      padding-left: 0;
    }

    .Toggle {
      border-radius: $radius_pill;
      &:hover {
        background-color: $overlay;
      }

      box {
        padding: 0 10px;
      }
    }

    .Paused {
      label {
        color: $muted;
      }
    }
  }

  .System {
    padding: 0 4px;
    border-radius: $radius_pill;
    &:hover {
      background-color: $overlay;
    }
  }

  .AppIndicator {
    padding: 2px 8px;
    button {
      background-color: transparent;
      border-radius: 100%;

      &:hover {
        background-color: $overlay;
      }
    }
  }

  .Battery {
    label {
      font-size: 1.1rem;
    }

    label.low-battery {
      color: color.adjust($rose, $alpha: -0.2);
    }
  }

  .Notifications {
    padding: 0 10px;
    &:hover {
      background-color: $overlay;
      border-radius: $radius_pill;
    }
  }

  .Focused {
    font-size: 12px;
    color: $accent;
  }
}
