# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = """
[ ](bg:mauve)\
$os\
$username\
$directory\
[](fg:mauve bg:surface0)\
$git_branch\
$git_status\
$git_state\
[](fg:surface0)\
$character
"""

palette = "catppuccin_mocha"

# Inserts a blank line between shell prompts
add_newline = true

# Replace the '❯' symbol in the prompt with '➜'
[character] # The name of the module we are configuring is 'character'
success_symbol = '[❯](bold fg:peach)' # The 'success_symbol' segment is being set to '➜' with the color 'bold green'
error_symbol = "[](bold red)"

[os]
disabled = false             # Set to false to see the pill start
style = "bg:mauve fg:base"
format = "[$symbol]($style)"

[username]
show_always = true
style_user = "bg:mauve fg:base bold"
style_root = "bg:red fg:base bold"
format = '[$user]($style)'

[hostname]
disabled = true
trim_at = "."
ssh_only = false
ssh_symbol = " "

[directory]
style = "bg:mauve fg:base bold"
format = "[ $path ]($style)"
truncation_length = 3
read_only = " 󰌾"

[git_branch]
symbol = " "
style = "bg:surface0 fg:yellow"
format = "[[ $symbol$branch ]($style)]($style)"

[git_status]
style = "bg:surface0 fg:yellow"
format = "[[($all_status$ahead_behind )]($style)]($style)"

[time]
disabled = false
style = "fg:subtext0"         # Muted so it doesn't distract
time_format = "%I:%M %p"
format = " [ $time ]($style)"

[fill]
symbol = " "

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true
symbol = "󰏗 "

[cmd_duration]
min_time = 500
style = "fg:maroon italic"
format = "took [$duration]($style) "

# Preset
[aws]
symbol = "  "

[buf]
symbol = " "

[c]
symbol = " "

[conda]
ignore_base = false
format = "[$symbol$environment]($style) "
style = "fg:green"
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[python]
symbol = " "
pyenv_version_name = false

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "

[swift]
symbol = " "

[typst]
symbol = " "

[zig]
symbol = " "

[bun]
symbol = " "

[deno]
symbol = " "

# Catppuccin
[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
