$base: #1e1e2e;
$accent: #f5e0dc;
$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext2: #a6adc8;
$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;
$mantle: #181825;
$crust: #11111b;
$transition: all 0.195s ease-out 0.15s;

@import "./scss/control-center.scss";
@import "./scss/network.scss";
@import "./scss/quick-settings.scss";

* {
  all: unset;
  font-family: "FiraCode Nerd Font";
}

.bold {
  font-weight: bold;
}

.time-container {
  font-size: 12px;
}

.bar {
  background-color: $base;
  color: $text;
  padding: 2px 0px;
}

.workspace-entry {
  &.current.empty {
    opacity: 1;
  }
  &.empty {
    opacity: 0;
  }
}

.occupied {
  opacity: 1;
}

.shutdown-button:hover {
  color: #ff4444;
  transition: all 0.1s ease 0.2s;
}

.network-status {
  padding: 0 5px;
}

.container {
  padding: 3px 6px;
  font-size: 0.8rem;
}

.workspaces {
  padding: 0px 10px;
}

.systems-container {
  padding: 0px 5px;
}

.volume {
  font-size: 18px;
}

tooltip {
  background-color: $surface0;
  color: $subtext1;
  border-radius: 5px;
  font-size: 12px;
}
