@use "../themes/_rosepine.scss" as *;
@use "../_globals.scss" as *;

window.ControlCenter {
  transition: $transition;
  background-color: transparent;
  .control-center {
    background-color: $overlay;
    border-radius: 8px;
    padding: 4px;
    margin: 2px;
  }

  .section {
    background-color: $surface;
    border-radius: 4px;
    padding: 8px;
  }

  label.icon {
    padding: 2px;
  }
}
