@use "mocha" as *;

$transition: all .2s ease-in-out .1s;
$accent: $flamingo;

window.Bar {
    background: transparent;
    font-weight: 600;
    color: $text;

    >* {
        padding: .5rem;
    }

    .Workspaces {
        >button {
            all: unset;
            padding: .3rem;
            transition: $transition;
            margin: 0 .2rem;
            background: $base;
            color: $text;
            border: 1px solid $overlay1;
            border-radius: 50px;
        }

        >button.focused {
            background: $accent;
            min-width: 1rem;
        }
    }

    >centerbox {
        background: $base;
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }

    scale {
        all: unset;

        trough {
            all: unset;
            background-color: $mantle;
            border-radius: 10px;
            margin: 4px;

            slider {
                all: unset;
                background-color: $accent;
                padding: 4px;
                margin: -5px;
                min-height: 5px;
                min-width: 5px;
                border-radius: 50%;
            }
        }

        highlight {
            border: 1px solid $surface2;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            background-color: $surface0;
        }
    }


}